.faq_container {
    background-color: #008080;
    color: #fff;
    margin: 0 5% 10rem;
    border-radius: 30px;

    padding: 2rem 5rem;
}

.faq_header {
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 1rem;
    
}

.faq {
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid #CCCCCC;
}

.faq:last-child {
    border: none;
}

.faq_title {
    font-weight: 500;
    font-size: 1.2rem;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.faq_icon {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.faq_details-container {
    /* border-bottom: 1px solid #CCCCCC; */
    /* padding-bottom: 1rem; */
    width: 100%;
}

.faq_details {
    color: #D8D8D8;
    width: 70%;
    font-size: 1rem;
    text-align: center;
    margin: 0 auto;
    line-height: 1.5;
}


/* responsiveness */
@media(max-width: 500px) {
    .faq_container {
        padding-inline: 1.5rem;
    }

    .faq_header {
        font-size: 1.25rem;
    }

    .faq_title {
        justify-content: space-between;
        margin-block: .5rem;
    }

    .faq_title-head {
        text-align: left;
        font-size: 1rem;
        width: 80%;
        line-height: 1.4;
    }

    .faq_details {
        width: 100%;
        font-size: .85rem;
        text-align: left;
    }
}