header {
    padding: 0 5%;
    position: relative;
}

h1, p {
    margin: 0;
    z-index: 1;
}

.hero_image-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 4rem;
    height: 80svh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #fff;
}

.hero_image-container::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4rem;
}

.hero_header {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.hero_subtext {
    font-style: italic;
    width: 50%;
    text-align: center;
    line-height: 1.4;
}

.hero_box {
    position: absolute;
    background-color: #fff;
    border-radius: 1.75rem;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.08);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    bottom: -3rem;
    left: 0;
    right: 0;

    --color: #CDCDCD;
}

.hero_box-box {
    text-align: center;
    width: 33.3%;
    display: grid;
    place-items: center;
}

.hero_box-box2 {
    border-left: 1px solid var(--color);
    border-right: 1px solid var(--color);
}

.hero_box-header {
    margin: 1rem 0;
    color: #008080;
}

.hero_box-btn {
    margin-bottom: 1rem;
    padding: .5rem 2rem;
    width: 13rem;
    background-color: transparent;
    border: 1px solid var(--color);
    color: #5c5c5c;
    border-radius: .4rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.hero_box-btn:hover {
    background-color: #ececec;
}

/* responsiveness */
@media(max-width: 768px) {
    .hero_image-container {
        justify-content: flex-start;
    }

    .hero_header {
        font-size: 2rem;
        margin-top: 7rem;
    }

    .hero_subtext {
        width: 85%;
        font-size: .875rem;
    }

    .hero_box {
        flex-direction: column;
        width: 60%;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .hero_box-box {
        width: 100%;
    }

    .hero_box-box2 {
        border: none;
    }

    .hero_box-header {
        margin: .5rem 0;
    }

    .hero_box-btn {
        margin-bottom: .5rem;
        font-size: .8rem;
    }
}