.accom_section {
    margin: 10rem 0 5rem;
    padding: 1rem 5%;
    line-height: 1.5;
}

.accom_header {
    text-align: center;
    color: #008080;
    font-size: 1.5rem;
    margin: 0;
}

.accom_subtext {
    text-align: center;
    color: #707070;
    width: 40%;
    margin: 0 auto 2rem;
}

.accom_grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.accom_card-img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #fff;
    padding: 2.5rem 5%;
    height: 100%;
    cursor: pointer;

    transition: .2s all ease-in-out;
}

.accom_card-img:hover::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.accom_card-like-icon {
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: 1;
}

.accom_price {
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.accom_rating-flex {
    display: flex;
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 1;
}

.accom_card-bottom-container {
    background-color: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 5%;
    display: grid;
    place-items: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.accom_card-bottom-text {
    font-size: .85rem;
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: space-between;
}

.accom_card-bottom-text2 {
    font-size: .75rem;
    text-align: center;
    margin-top: .7rem;
    color: #707070;
}