nav {
    display: flex;
    align-items: center;
    padding: .5rem 5%;
    justify-content: space-between;

    --primaryColor: #565656;
    --secColor: #008080;
}

ul, a {
    list-style: none;
    text-decoration: none;
}

.navlist {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navitem {
    color: var(--primaryColor);
    transition: all .2s ease-in-out;
}

.navitem:hover {
    color: #008080;
    transform: scale(1.05);
}

.apartment_item {
    display: flex;
    align-items: center;
}

.navbuttons {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.login_btn {
    border: 1px solid var(--secColor);
    background-color: transparent;
    color: var(--secColor);
    transition: all .2s ease-in-out;
}

.login_btn:hover {
    background-color: rgb(224, 255, 255);
}

.register_btn {
    background-color: var(--secColor);
    color: #fff;
    border: 1px solid var(--secColor);
    transition: all .2s ease-in-out;
}

.register_btn:hover {
    background-color: #005a5a;
}

.hamburger-react {
    display: none;
}

/* responsiveness */
@media(max-width: 500px) {
    .navlist, .navbuttons {
        display: none;
    }

    .hamburger-react {
        display: block;
    }

    .menu_container {
        background-color: var(--secColor);
        padding: 0 5%;
        position: fixed;
        z-index: 10;
        height: 100%;
        inset: 9% 0 0 0;
    }

    .navlist_mobile {
        padding: 0;
    }

    .navitem {
        color: #fff;
        font-size: 1.5rem;
        line-height: 2.5;
        border-bottom: 1px solid #006d6dea;
        transition: all .2s ease-in-out;
    }

    .navitem:hover {
        border-bottom: 3px solid #006d6dea;
    }

    .btn_mobile {
        width: 100%;
        margin-top: 2rem;
        padding: 1rem 0;
        border: 0;
        border-radius: 25px;
        color: var(--secColor);
        font-size: 1rem;
        font-weight: 500;
    }

    .login_btn-mobile {
        border: 2px solid #fff;
        background-color: transparent;
        color: #fff;
    }
}