.vacay_section {
    margin: 5rem 0 5rem;
    padding: 1rem 5%;
    line-height: 1.5;
    display: block;
}

.vacay_header {
    text-align: center;
    color: #008080;
    font-size: 1.5rem;
    margin: 0;
}